.leyenda_al_pie{
    display: none;
   }


.variacion_19_20{
    display: none;
}

.descargas_1{
    display: none;
}

.descargas_2{
    display: none;
}

.ocultar_descargas{
    display: none;
}


.container_cuencas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cerrar_map{
    display: none;
}
