.leyenda_al_pie{
    display: none;
}


#ver_ocultar_agregado_ministro_0{
    display: none;
}

.comparativo{
    display: none;
}

.variacion_19_20{
    display: none;
}

.descargas_1,
.descargas_2,
.descargas_3,
.descargas_4,
.descargas_5{
    display: none;
}

.ocultar_descargas{
    display: none;
}


.container_cuencas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cerrar_map{
    display: none;
}
