.cabecera{
	display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
}

.menuppal1 {
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    width: 8em;
    z-index: 4;
}

.menuppal2 {
    position: fixed;
    top: 2.6em;
    align-items: center;
    right: 0;
    width: 8em;
    z-index: 3;
}

.menuppal3 {
    position: fixed;
    top: 5.25em;
    align-items: center;
    right: 0;
    width: 8em;
    z-index: 2;
}

.menuppal4 {
    position: fixed;
    top: 7.9em;
    align-items: center;
    right: 0;
    width: 8em;
    z-index: 1;
}

.menuppal5 {
    position: fixed;
    top: 10.5em;
    align-items: center;
    right: 0;
    width: 8em;
    z-index: 0;
}


/*--------------------*/
.menuppal1 > .item1,
.menuppal2 > .item2,
.menuppal3 > .item3,
.menuppal4 > .item4,
.menuppal5 > .item5{
    display:none;
    position:absolute;
}

.menuppal1:hover > .item1,
.menuppal2:hover > .item2,
.menuppal3:hover > .item3,
.menuppal4:hover > .item4,
.menuppal5:hover > .item5{
    display:block;
    position:absolute;
}


.monthYear{
	position: fixed;
    bottom: 0;
    right: 0;
    color: #ffffff;
    /*margin-top: 2.4em;*/
    font-size: 40px;
	padding: 8px;
	font-weight: bold;
	background: rgba(0,55,203,0.5);
}

.precioProductor .container,
.parametrosPrecio .divs_internasLvl1,
.comparativo .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloques_porcentaje_comparativo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.variacionlecheCruda .cuencasLCrud, 
.variacionPorCuenca .variacion_litros_x_cuenca,
.parametrosPrecio .container,
.produccionMensual .container,
.solidosUtiles .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.graficoPRefPagProd,
.graf_lech_cruda,
.graf_solidos_Ut{
    width: 60%;
}

.boton_grande_descargas{
    display: flex;
    justify-content: space-around;
}

.btns-descargas{
    display: flex;
    justify-content: space-around;
}


.foot{
	display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
}


/*Responsive*/
@media (max-width:900px) {

    .cabecera,
    .container_cuencas,
    .parametrosPrecio .container,
    .produccionMensual .container,
    .solidosUtiles .container,
    .comparativo .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
        align-items: center;
    }

    .bloques_porcentaje_comparativo{
        margin: 15px 0px 10px 5px;
    }

    .dato_comparativo_1, 
    .dato_comparativo_2{
        font-size: 20px;
    }

    /*.dato_comparativo_1, 
    .dato_comparativo_2,
    .mes_comparativo_1,
    .mes_comparativo_2{
        padding: 0px 10px 0px 10px;
    }*/

    .precioxLitro,
    .prod_mensual_lech_crud{
        margin-top: 25px;
    }

    .cabecera{
        width: 98%;
    }

    .TituloPrincipal, 
    .pie{
        padding: 2%;
    }

    .pie{
        padding-bottom: 35px;
    }

    .precioProductor{
        margin-top: 3.4em;
    }

    .graficoPRefPagProd,
    .mapCuencas/*.map*/,
    .graf_lech_cruda,
    .graf_solidos_Ut,
    .solidos_cuencas{
        width: 100%;
    }

    .desplegar_map, 
    .cerrar_map{
        display: none;
    }

     /* menu movil*/

    .year2021,
    .year2022,
    .year2023,
    .year2024,
    .year2025{
        font-size: 15px;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }

    .menuppal1,
    .menuppal2, 
    .menuppal3,
    .menuppal4,
    .menuppal5{
        position: fixed;
        color: #ffffff;
        background: #00ADC1;
        padding: 3px; 
        opacity: 0.5;
        visibility: visible; 
        margin-top: 7.7em;
    }

    .menuppal2{
        margin-top: 7em;; 
    }

    .menuppal3{
        margin-top: 6.3em;; 
    }

    .menuppal4{
        margin-top: 5.6em;; 
    }

    .menuppal5{
        margin-top: 4.9em;; 
    }

    .menuppal1:hover,
    .menuppal2:hover,
    .menuppal3:hover,
    .menuppal4:hover,
    .menuppal5:hover{
        transition: 500ms;
        opacity: 1;
        visibility: visible;
    }

    .monthYear{
        font-size: 25px;
        width: 100%;
        margin-bottom: 1.9em;
    }

    main{
        width: auto;
        margin: auto;
    }

    .cantidadTambos{
        text-align: center;
    }


    .tituloSeccion{
        text-align: center;
    }

    .composicion{
        width: 80%;
    }
}




/*Tablas*/
@media (max-width:1150px) {

    .precioProductor .container,
    .variacionlecheCruda .cuencasLCrud,
    .variacionPorCuenca .variacion_litros_x_cuenca, 
    .btns-descargas{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    table, tr, td{
        margin-bottom: 10px;
        padding: 5px 3px;
        text-align: center;
        width: 95%;
    } 

    #aNor td, #aSur td, #mYSierr td, #oest td{
        width: 50%;
    }


    .abrir_descargas{
        padding: 0 20px 20px 20px;
    }

    .descargas_1, 
    .descargas_2,
    .descargas_3,
    .descargas_4,
    .descargas_5{
        margin: 5px;
        padding: 20px;
        border: 3px solid;
        border-color: #00aec3;
        border-radius: 0 0.5em;
        width: 60%;
      }

    .item-descarga li{
        padding: 5px;
      }


    .lech{
        width: 90%;
        margin: 20px 0 20px 0;
        
    }

    .logoPcia{
        width: 100%;
       
    }

    .foot{
        flex-direction: column;
        align-items: initial;
        text-align: center;
        align-items: center;
    }

}