body{
	font-family: 'Encode Sans', sans-serif;
}

.TituloPrincipal, 
.pie{
	text-align: center;
	background-color: #00aec3;
	color: #ffffff;
	font-weight: bold;
	font-size: 26px;
	padding: 20px 0 20px 0;
	width: 100%;
	border-bottom: 5px solid #333;

}

.menuppal1,
.menuppal2,
.menuppal3,
.menuppal4{
	color: #ffffff;
	padding: 2px 10px;
	border: 0px solid #00b0c3;
	
}

.year2021,
.year2022,
.year2023,
.year2024{
	font-size: 30px;
	padding: 4.5px;
	text-align: center;
	font-weight: bold;
	background: #00b0c3ec;
	border: 0.8px solid #333;
	/*border-radius: 0 0.3em;*/
}

.item1 li,
.item2 li,
.item3 li,
.item4 li{
	text-align: center;
	color: #FFFFFF;
	margin-top: 0px;
	padding: 8px;
	background-color: #333;
	border-radius: 0.3em;
	border: 0.3px solid #333;
	border-radius: 0 0.3em;
}

	  
.item1 li:hover,
.item2 li:hover,
.item3 li:hover,
.item4 li:hover{
	background-color: #00b0c3ec;
	border: 0.3px solid #333;
	transition: 400ms;
}

.item1 li:active,
.item2 li:active,
.item3 li:active,
.item4 li:active {
	color: #FFF;
	background-color: #333;
	border: 0.5px solid #000000;
}

.year2021:hover,
.year2022:hover,
.year2023:hover
.year2024:hover{
    background-color: #333;
	transition: 400ms;
}

main{
	width: auto;
	margin: 10px 155px;	
}

.precioProductor,
.comparativo{
	/*background https://cssgradient.io/   */
	margin-top: 1em;
	background: linear-gradient(145deg, rgba(255,255,255,0) 36%, rgba(0,173,193,0.6615021008403361) 100%);
	padding: 0 10px;
	border: 3px solid;
	border-color: #00aec3;
	border-radius: 0 1em;
	
}


.tituloSeccion{
	font-size: 28px;
	font-weight: bold;
	margin-top: 7px;
}

.cantidadTambos{
	font-size: 15px;
	margin-top: 5px;
} 

.monthYear{
	text-align: center;
	padding: 10px 0;
	margin-bottom: 5px;
	
}

.precioPorLitro, 
.precio_x_kg_solidos_UT, 
.prod_mensual_lech_crud{
	font-size: 75px;
    font-weight: bold;
	text-align: center;
	padding: 10px;
}

.variacion1, 
.variacion2{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

.comp_margin > .variacionTxt{
	margin-top: 18px;
}

.litros_tot_acum{
	text-align: right;
	margin: 12px 33px 10px 0;
}

.variacionTxt,
.xlitro{
	font-size: 15px;
	text-align: center;	
}

.precioCuencas, 
.variacionlecheCruda, 
.parametrosPrecio, 
.produccionMensual, 
.variacionPorCuenca, 
.solidosUtiles{
	background: linear-gradient(145deg, rgba(255,255,255,0) 36%, rgba(0,173,193,0.6615021008403361) 100%);
	margin-top: 1em;
	padding: 0 10px;
	border: 3px solid;
	border-color: #00aec3;
	border-radius: 0 1em;	
}

.produccionMensual{
	background: #FFFFFF;
}

.parametrosPrecio{
	padding-bottom: 20px;
}

.cuencas, .solidos_cuenca{
	width: 100%; 
}

.cuencas p, .solidos_cuencas p{
	color: #FFFFFF;
	margin: 20px;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
}

.cuencas cite,
.solidos_cuencas cite{
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
}

.black-lett{
	color: #000000;
	font-weight: bold;
}


#naranja,.abastoNorte{
	background-color: rgba(255,120,0,1);
	border: 1px solid rgba(255,120,0,1);
	border-radius: 0 0.9em 0 0;
}

#amarillo,.abastoSur{
	background: rgba(255,173,0,1);
	border: 1px solid rgba(255,173,0,1);
	border-radius: 0 0.9em 0 0;
}

#provincia,.marYSierras{
    background: #00aec3;
	border: 1px solid #00aec3;
	border-radius: 0 0.9em 0 0;
}

#azul,.oeste{
    background: rgba(0,55,203,0.6615021008403361);
	border: 1px solid rgba(0,55,203,0.6615021008403361);
	border-radius: 0 0.9em 0 0;
}


/*-----botón desplegar mapa----*/
.desplegar_map{
	color: #FFF;
	margin-right: 10px;
	background-color: #00aec3;
	border: 2px solid #00aec3;
	border-radius: 0 1em;	
	transition: 500ms;
	width: 37px;
	height: 230px;
}

.desplegar_map:hover{
	color: #333;
	background-color: #FFF;
	border: 2px solid #00aec3;
}

.desplegar_map >p{
	font-size: 20px;
	writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.desplegar_map >i{
	margin-top: 20px;
	font-size: 20px;
}

/*-----botón cerrar mapa----*/
.cerrar_map{
	margin-left: 10%;
	font-size: 22px;
	color: #FFF;
	background-color: #00aec3;
	border: 2px solid #00aec3;
	border-radius: 0 1em;	
	transition: 500ms;
    width: 80%;
	height: 40px;
}
.cerrar_map:hover{
	color: #333;
	background-color: #FFF;
}

.cerrar_map >i{
	margin: 100px;
	font-size: 25px;
}

.mapCuencas 
/*.map*/{
	width: 300px;
}

.cuencasLCrud, .variacion_litros_x_cuenca{
	margin: 20px 0;
}

table, tr, td{
	margin-bottom: 10px;
	padding: 5px 3px;
	text-align: center;
} 

#aNor td{
	border: 0.5px solid rgba(255,120,0,0.5);
}

#aSur td{
	border: 0.5px solid rgba(255,173,0.5);
}

#mYSierr td{
	border: 0.5px solid rgba(0,173,193,0.5);
}

#oest td{
	border: 0.5px solid rgba(0,55,203,0.5);
}

.abastoNorte, 
.abastoSur, 
.marYSierras, 
.oeste{
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	
}

#lecCrud{
	font-size: 30px;
	font-weight: bold;
}

.precio_x_kg_solidos_UT-var_IMen, 
.precio_x_kg_solidos_UT-var_IA, 
.produ_lechecruda_var_IMen, 
.produ_lechecruda_var_IA,
.var_int_0,
.var_int_2019,
.var_int_2020,
.anio_0,
.anio_1,
.anio_2{
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	padding: 15px;
}

/*.dato_comparativo_1,
.dato_comparativo_2,
.porcentaje_comparativo{
	font-size: 35px;
	font-weight: bold;
	padding: 1px 10px 1px 10px;
	border: 2px solid rgba(0,174,195,1);
	border-radius: 0 0.5em;
}*/

.var_int_0,
.var_int_2019,
.var_int_2020{
	color: #000000;
}

.proteina,
.grasa_butirosa{
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	padding: 15px;
}

.parametrosPrecio .variacionTxt{
	margin-top: 10px;
	text-align: left;
}

.parametrosPrecio .divs_internasLvl1{
	border: 2px solid rgba(0,174,195,1);
	margin-top: 10px;
	padding: 10px 10px 20px 0;
	border-radius: 0 0.8em;	
}

.comp_margin{
	margin-top: 20px;
}

.mes_comparativo_1,
.mes_comparativo_2,
.dato_comparativo_1,
.dato_comparativo_2,
.porcentaje_comparativo,
.composicion,
.leyenda_al_pie,
.leyenda_al_pie_12_07_2023,
.leyenda_al_pie_09_02_2024{
	color: #ffffff;
	background-color: rgba(0,174,195,1);
	margin: 20px;
	padding: 10px 10px 20px 10px;
	border: 2px solid rgba(0,174,195,1);
	border-radius: 0 0.4em;
}



.mes_comparativo_1,
.mes_comparativo_2,
.dato_comparativo_1,
.dato_comparativo_2,
.porcentaje_comparativo{
	font-size: 30px;
	padding: 5px 20px 5px 20px;
	margin: 10px;
	font-weight: bold;
}

.mes_comparativo_1,
.mes_comparativo_2{
	font-size: 18px;
}


.porcentaje_comparativo{
	font-size: 54px;
}

.leyenda_al_pie_12_07_2023,
.leyenda_al_pie_09_02_2024{
	border-color: #FF0E72;
	text-align: justify;
}

.produccionMensual .variacionTxt{
	margin: 15px 0 15px 0;
	padding: 5px;
	text-align: left;
}

.variacion_19_20{
	color: #ffffff;
	background-color: rgba(255,120,0,0.6);
	margin: 20px;
	padding: 1px;
	border: 2px solid rgba(255,120,0,1);
	border-radius: 0 0.8em;
}

.composicion .variacionTxt, 
.variacion_19_20 .variacionTxt{
	text-align: center;
}

.variacion_19_20 .variacionTxt{
	margin: 0;
}

.leyenda_al_pie >p{
   line-height: normal;
   text-align: justify;
}

/*____Sección descargas____*/

.icons-down, 
.abrir_descargas, 
.ocultar_descargas{
	font-size: 35px;
	margin-top: 7px;
	text-align: center;
}

.abrir_descargas{
	padding: 5px 20px 15px 20px;
	border: 3px solid #00aec3;
	border-radius: 0 0.3em;	
	transition: 500ms;
	
}

.abrir_descargas:hover{
	color: #333;
	background-color: #ffffff;
}

.ocultar_descargas{
    color: #333;
	padding: 5px 20px 15px 20px;
	border: 3px solid #00aec3;
	border-radius: 0 0.3em;
	background-color: #ffffff;
	transition: 500ms;
}

.ocultar_descargas:hover{
	color: #FFF;
	background-color: #333;
}

.ocultar_descargas > i{
	padding-top: 30px;
	font-size: 60px;
}


.btns-descargas{
	margin-top: 20px;
	padding: 20px;
	color: #FFFFFF;
	background-color: #333;
	border: 3px solid;
	border-color: #00aec3;
	border-radius: 0 1em;		
}

.item-descarga li{
  padding: 2px;
  text-align: center;
  border-radius: 0 0.3em;
  text-decoration: none;
}

.item-descarga li:hover{
	background-color: rgba(0,174,195,1);

}

.no-line{
	text-decoration: none;
	color: #FFFFFF;
}


.lech{
	width: 270px;
}

.logoPcia{
	width: 400px;
}

.firma{
	text-align: center;
	background-color: #00aec191;
	color: #ffffff;
	padding: 10px 0 10px 0;
	width: 75%;
	border: 3px solid;
	border-color: #00ADC1;
	border-radius: 0 1em;
}

.img_firma{
	width: 1.4em;
	filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);  
}

.img_firma:hover{
	filter: invert(36%) sepia(85%) saturate(809%) hue-rotate(188deg) brightness(93%) contrast(92%);
}

